table {
  border-spacing: 0;
  width: 100%;
}
thead th {
  padding: 10px;
  background-color: #f9f9f9;
}
tbody td {
  padding: 10px;
}
button {
  cursor: pointer;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

p3{
  background-color: aquamarine;
  text-emphasis-color: black;
}


button{
  border: 0%;
}